body{
  background-color: aliceblue;
}
#root {
  max-width: 1280px;
  padding: 2rem;
  width: 100%;
}
.container{
  max-width: 600px;
  margin: 0 auto;
}
.card {
  padding: 2em;
}
.todo-list li{
  background-color: white;
  margin-bottom: 5px;
  padding-right: 22%;
}
.todo-icons{
  display: flex;
  justify-content: space-between;
  min-width: 110px;
}
.mb2{margin-bottom: 2rem;}
.spacies-row > *{
  margin-right: 1rem !important;
}
.task .done{
  text-decoration: line-through;
  opacity: 0.5;
}








@media (max-width:600px) {
  .todo-list li{
    padding-right: 16px;
  }
  .todo-list li .MuiListItemSecondaryAction-root{
    position: static;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
  }
}